[Desktop Entry]
Version=1.0
Type=Application
Name=Kotatsu-dl
Icon=/opt/kotatsu-dl/lib/kotatsu-dl.png
Exec=/opt/kotatsu-dl/bin/kotatsu-dl
TryExec=/opt/kotatsu-dl/bin/kotatsu-dl
Path=/opt/kotatsu-dl
Comment=Manga downloader with a simple gui
Categories=Internet;Network;
Keywords=kotatsu;manga;
Terminal=false
StartupWMClass=org-koitharu-kotatsu_dl-MainKt
StartupNotify=true
SingleMainWindow=true
X-GNOME-SingleWindow=true
